.container {
  margin: 0 auto;
  padding: 0px 15px;
  @include mobile {
    max-width: 480px;
  }
  @include media(768px) {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
