.hero {
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 0;
  background-image: $gradient,
  url("../images/hero-mob-1x.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: $gradient,
    url("../images/hero-mob-2x.jpg") ;}
  @include tablet {
    max-width: 768px;
    background-image: $gradient,
    url("../images/hero-tab-1x.jpg") ;
    @include retina {
      background-image: $gradient,
      url("../images/hero-tab-2x.jpg") ;}
  }
  @include desktop {
    max-width: 1600px;
    padding: 200px 0;
    background-image: $gradient,
  url("../images/hero-desk-1x.jpg") ;
    @include retina {
      background-image: $gradient,
      url("../images/hero-desk-2x.jpg") ;} 
  }
}

.hero__title { 
  // width: 696px;
  max-width: 360px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  // font-size: 44px;
  // line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-acsent);   
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }                                
}

.hero__button {
  // padding: 10px 32px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-acsent);
  background-color: var(--color-chromatic-usual);
}



